@import url("https://fonts.googleapis.com/css2?family=Irish+Grover&family=Varela+Round&display=swap");

/* Navigation */
.navigation {
  background-color: #103d40;
  /* background-image: linear-gradient(to bottom, #347485, #61b9e7); */
}

.navigation .outer-container {
  width: 85%;
  margin: 0 auto;
  color: white;
  height: 12vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation .inner-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation .website-logo p {
  font-family: "Irish Grover", cursive;
  font-size: 40px;
  color: white;
}

.navigation .website-logo .tour-globe {
  font-size: 28px;
}

.navigation .profile {
  display: flex;
  align-items: center;
}

.navigation .profile a {
  font-family: "Varela Round", sans-serif;
  color: white;
  text-decoration: none;
  margin-right: 18px;
  font-size: 16px;
}

.navigation .profile a:last-child {
  margin-right: 0;
}

.navigation .profile a img {
  width: 45px;
  height: 45px;
  border-radius: 100%;
}

/* Media Queries */

@media (max-width: 767px) {
  .navigation .outer-container {
    height: max-content;
    padding-top: 30px;
    padding-bottom: 10px;
  }

  .navigation .inner-container {
    flex-direction: column;
  }

  .navigation .profile {
    flex-direction: column;
  }

  .navigation .website-logo p {
    font-size: 25px;
  }

  .navigation .website-logo .tour-globe {
    font-size: 15px;
  }

  .navigation .profile {
    padding-top: 20px;
  }

  .navigation .profile a {
    padding: 5px 0;
  }

  .navigation .profile a:last-child {
    padding-top: 55px 0;
    background-color: initial;
  }
}
