.manage-orders {
    display: flex;
    justify-content: center;
    align-items: center;
}

.manage-orders .outer-container {
    width: 75%;
    margin-bottom: 50px;
}

.manage-orders .outer-container h2 {
    text-align: center;
    font-size: 40px;
    margin: 30px 0;
}

.manage-orders .inner-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.manage-orders .order-single {
    background-color: #F1F1F1;
    padding: 20px;
    border-radius: 10px;
}

.manage-orders .order-single .status {
    font-weight: bold;
    margin-bottom: 10px;
}

.manage-orders .order-single .pending {
    font-size: 17px;
    background-color: rgba(255, 1, 1, 0.411);
    padding: 3px 10px;
    border-radius: 20px;
}

.manage-orders .order-single .approved {
    font-size: 17px;
    background-color: rgba(19, 255, 19, 0.459);
    padding: 3px 10px;
    border-radius: 20px;
}

.manage-orders .order-single h3 {
    font-size: 22px;
    color: #00c3ff;
    margin-bottom: 7px;
}

.manage-orders .order-single .orderer {
    margin-bottom: 7px;
}

.manage-orders .order-single .orderer-email {
    margin-bottom: 15px;
}

.manage-orders .order-single .orderer-name {
    font-weight: bold;
    font-style: italic;
    font-size: 17px;
}

.manage-orders .order-single .orderer-email-address {
    font-style: italic;
    font-weight: bold;
    font-size: 17px;
}

.manage-orders .order-single .orderer-email {
    /* font-weight: bold; */
}

.manage-orders .order-single div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.manage-orders .order-single div button:nth-child(1) {
    background-color: rgba(19, 255, 19, 0.459);
    border: none;
    padding: 3px;
    border-radius: 3px;
}

.manage-orders .order-single div button:nth-child(2) {
    background-color: rgba(255, 1, 1, 0.411);
    border: none;
    padding: 3px;
    border-radius: 3px;
}

@media (max-width: 767px) {

    
.manage-orders .outer-container {
    width: 95%;
}
    
.manage-orders .inner-container {
    grid-template-columns: 1fr;
}
}